<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>Welcome to Text Analyser Enter the Text Here</h1>
<form action="/analyse2",method="get">
    <textarea name='text' style="margin: 0px; height: 187px; width: 635px;"></textarea>
    <br>
<!--    <textarea name='text' style="margin: 0px; height: 187px; width: 635px;"></textarea>-->
    <input type="checkbox" name="removepunc">Remove Punc<br>
    <input type="checkbox" name="removespace">Remove Space<br>
    <input type="checkbox" name="uppercase">Upper Case<br>
    <input type="checkbox" name="lowercase">lower Case<br>
    <input type="checkbox" name="count_words">Count Words<br>
    <input type="checkbox" name="newlineremover">New Line remover<br>

    <button type="submit">Anlayse Text</button>
</form>


</body>
</html>